#vim:noet:ts=1
# Don't Edit - Use:
# git submodule add --depth 1 <repo> <path>
# git submodule deinit -f <path>

[submodule ".tmux/plugins/tpm"]
    path = .tmux/plugins/tpm
    url = https://github.com/tmux-plugins/tpm
